<script src="https://unpkg.com/aframe-physics-system@1.4.0/dist/aframe-physics-system.min.js"></script>

<a-scene>
 <a-sky color="#000"></a-sky>
 <!-- <a-text position="-1 2 -5" value="Projects"></a-text> -->
 <!-- <a-link position="2 2 2" href="www.google.com"></a-link> -->
 <a-video id = "vid" src="../assets/parish-nation.mov" width="64" height="32" position="0 20 -30"></a-video>
 <a-video id = "vid" src="../assets/maggie.MOV" width="64" height="32" rotation="0 180 0" position="0 20 50"></a-video>
 <a-video id = "vid" src="../assets/video.mov" width="64" height="32" rotation="0 -90 0" position="40 20 15"></a-video>
 <a-video id = "vid" src="../assets/tsconfig.mov" width="64" height="32" rotation="0 90 0" position="-40 20 15"></a-video>
 <a-plane src="../assets/lava.jpg" height="100" width="100" rotation="-90 0 0"></a-plane>

</a-scene>
