<a-scene>
 <a-sky color="#000"></a-sky>
 <a-image src="../assets/clout_cover.jpg" width="64" height="32" position="0 20 -30"></a-image>
 <a-image src="../assets/puzzle_cover.jpg" width="64" height="32" rotation="0 180 0" position="0 20 50"></a-image>
 <a-image src="../assets/parish_cover.jpg" width="64" height="32" rotation="0 -90 0" position="40 20 15"></a-image>
 <a-image src="../assets/maggie_cover.png" width="64" height="32" rotation="0 90 0" position="-40 20 15"></a-image>
 <a-plane src="../assets/lava.jpg" height="100" width="100" rotation="-90 0 0"></a-plane>
</a-scene>
